<div *ngIf="serverError" class="alert alert-danger" role="alert">
  <strong>{{serverError}}</strong>
</div>

<div *ngFor="let playground of PlaygroundsList" class="card">
  <img class="card-img-top" src="{{'http://localhost:3000/'+playground.mainImg}}" alt="">
  <div class="card-body">
    <p class="card-text">Playground name: {{playground.name}}</p>
    <p class="card-text">Playground city: {{playground.city}}</p>
    <p class="card-text">Playground address: {{playground.address}}</p>
    <button type="button" (click)="edit(playground._id)" class="btn btn-warning">Edit</button>
    <button type="button" (click)="delete(playground._id)" class="btn btn-danger">Delete</button>

  </div>
</div>