<div *ngIf="serverError" class="alert alert-danger" role="alert">
  <strong>{{serverError}}</strong>
</div>

<div class="row">
  <div *ngFor="let playground of PlaygroundsList" class="card col-4">
    <img class="card-img-top" style="width: 400px" src="{{'http://localhost:3000/'+playground.mainImg}}" alt="">
    <div class="card-body">
      <p class="card-text">Playground name: {{playground.name}}</p>
      <p class="card-text">Playground city: {{playground.city}}</p>
      <p class="card-text">Playground address: {{playground.address}}</p>
      <a class="btn btn-success" [routerLink]="['/player/playground',playground._id]">Pick Time</a>
    </div>
  </div>
</div>